
html {
    
height: 100%;    
    
}

body {
    
    height: 100%;
    
}

#parallax_jeden {
    height: 100%;
    background-image: url(../img/header-background.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#parallax_dwa {
    
     height: 100%;
    background-image: url(../img/portfolio1.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

#parallax_trzy {
    
     height: 100%;
    background-image: url(../img/portfolio2.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}


#jeden {
    
    
    position: relative;
    top:60%;
    height: 50vh;
    background-color: aliceblue;
    
    
    
    
}


#dwa {
    
    position: relative;
    top: 80%;
    background-color: yellow;
    height: 30vh
    
    
    
}


#trzy {
    
    position: relative;
    top: 70%;
    height: 30vh;
    background-color: aqua
    
    
}