img {
    
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    
    
}


img::before {
    
    content: "";
}


    

img::after {
    
    
    content: "";

    
}

h1 {
    
position: absolute;
    top:50%;
    left:50%;
        transform: translate(-50%,-50%);
        opacity: 0;
    
    
}

@keyframes caption {
    
    from {opacity: 0}
    
    to {opacity: 1}
    
}


img:hover {
    border: 5px solid black;
    transform: 
   
}
img:hover + h1 {
    
    animation-name: caption;
    
    animation-duration: 5s;
    
    
    
    
}

#container {
    
    height: 370px;
    width: 690px;
    position:relative;
    left: 0;
    right:0;
    margin: auto;
    top: 100px;
    
    
    
    
}

