img {
    
    
    position: relative;
    
    padding: 5px;
}


img::before {
    
    content: attr(border);
      border:5px solid black;
}

    
    
}
img::after {
    
    
    content: attr(border:5px solid black);

    
}

h1 {
    
position: absolute;
    top:50%;
    left:50%;
        transform: translate(-50%,-50%);
        opacity: 0;
    
    
}

@keyframes caption {
    
    from {opacity: 0}
    
    to {opacity: 1}
    
}

img:hover + h1 {
    
    animation-name: caption;
    
    animation-duration: 5s;
    
    
    
    
}

#container {
    
    
    width: 670px;
    position:relative;
    top: 125px;
    left: 35%;
    
    
    
    
}

