@media all and (max-width : 1200px){
    
    
    
}


@media all and (max-width : 992px){
    
    
    
}

@media all and (max-width : 768px) {
    
    
    
    div#kula {
        
        width: 70px;
        height: 70px;
        
        
    }
    div#kula p#kula_napis {
        
        font-size: 12px;
        
    }
    div#kula p#kula_napis span{
        
        margin:10px;
        
        
    }
    
    
    
    
}


@media all and (max-width : 676px) {
    
    nav#menu{
        
        background: linear-gradient(black,#a1a1d6,#a1a1d6);
        width:100px;
        height: 100%;
        z-index: 1;
    }
    
    
    nav#menu ul li a {
        
        display: block;
        font-size: 80%;
        margin-top: 25px;
        
    }
    
    #header {
        
        
        width: 100%;
        
    }
    
    #header div#header_caption {
        
        width:60% ;
        font-size:88%;
        position: absolute;
        left: 27%;
        
    }
    
    #header h2#secondary_caption{
        
        
        font-size: 15px;
        
    }
    #content {
        height: 170%;
        width: 100%;
        text-align: center;
    }
    
    #content h2{
        position: relative;
       width:48%;
        left: 60%;
        
        
        
    }
    
    #content p{
        
        position: relative;
       width:50%;
        left:35%;
        
        
    }
    
    figure {
        width: 80%;
        text-align: center;
        position: relative;
        left: 20%;
         
    }
    
    img {
        
        width: 80%;
        
        position: relative;
        
    }
    
    figcaption{
        left: 15%;
        position: relative;
        width:68%;
        margin-bottom: 15px;
        
    }
    
    footer{
        
        height: 50px;
        
    }
    
    footer p{
         
        margin-left: 100px;
        
    }
    
    #lewo {
        
        width: 100%;
        float: none;
        
    }
    
    #prawo {
        
         width: 100%;
        float: none;
        
    }
    
}

@media all and (max-width:476px){
   
    
    
    #content h2{
        
        left: 64%;
        
        
        
    }
   
    #content p{
        
        
        left:40%;
    
    }
    
    img {
        
        
        left:5%;
       
        
    }
    
    
    
    
}

@media all and (max-height : 476px) and (max-width:676px) {
    
    #kula {
        display: none;
        
    }
    
    
}



@media all and (orientation:landscape) and (max-height : 376px) {
    
    
    #kula {
        display: none;
        
    }
    
    img { 
        width:85%;
    
    }
    
    #header div#header_caption {
        
        
        left: 20%;
        
    }
    
    #header h2#secondary_caption{
        
        left:20%;
    }
    
    figcaption{
        left: 13%;
       
        
    }
    
    figure {
        
        text-align: center;
        
       
        margin-bottom: 15px; 
    }
    
    figcaption{
        text-align: center;
        
        
    }
}