* {
    
    margin: 0;
    
    
}


nav#menu {
    position: fixed;
    display: block;
    width: 100%;
    background: linear-gradient(to right,black,#a1a1d6,#a1a1d6);
    z-index: 1;
   height: 90px;
    
    
}

nav#menu ul {
    position: relative;
    list-style-type: none;
     float: right;
    top: 50%;
    transform: translateY(-50%);
}
nav#menu ul li {
    
   display: inline-block; 
    margin-left: 15px;
    margin-right: 10px;
   
}

nav#menu ul li a {
    background-color: black;
    text-decoration: none;
    color: aliceblue;
    font-size: 120%;
     border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    
}


nav#menu ul li a:hover {
    
    color: black;
    background-color: aliceblue;
    border: 2px solid aliceblue;
}

@keyframes movement {
    
    0% {top:8%}
    10% {top:8%}
    20% {top:8%}
    30% {top:8%}
    40% {top:8%}
    50% {top:5%}
    60% {top:8%}
    70% {top:8%}
    80% {top:8%}
    90% {top:8%}
    100% {top:8%}
    
    
    
}

div#kula {
    
    width: 80px;
    height: 80px;
    background: radial-gradient(white,aliceblue,#9797e2,blue);
    border-radius: 50%;
    position: relative;
    top: 8%;
    left: 3%;
    text-align: center;
    animation-name: movement;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}




div#kula p#kula_napis {
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: black;
    font-size: 15px;
    font-weight: bolder;
    left: 0;
    right: 0;
    margin: auto;
    
}


#header {
    
    background-color: #86cece;
    position: relative;
     
    height: 70vh;
    color: aliceblue;
    width: 100%;
}

#header div#header_caption {
    position: relative;
    width: 35%;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-variant-caps: small-caps;
}

#header h2#secondary_caption {
    
    font-size: 90%;
    text-align: center;
    
}


#content {
    
    background-color: azure;
    color: black;
    height: 80%;
    position: relative;
    text-align: center;
    width: 100%;
    
}

#content h2{
    
    top: 5px;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
}

#content p{
    
    display: inline-block;
    margin-top: 5%;
    width: 50%;
    
    
}


img {
    margin-bottom: 15px;
        margin-top: 15px;
        border: 2px solid black;
        border-radius: 5px;
    
}

figcaption