@media all and (max-width: 1200px) {
    
   
    #portfolio .portfolio-items .portfolio-item {
        
        width: 50%;
        
        
    }
        
        
    
    #portfolio .portfolio-items .portfolio-item:last-child {
        
        
        width: 100%;
    }
   
    
    
}

@media all and (max-width: 992px) {
    
     #header #glowny_napis {
        
        padding: 10%;
        
    }
    #portfolio .portfolio-items .portfolio-item {
        
        
        width: 100%;
    }
    
    #menu .toggle
    
    {
        
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
        
    }
    
    #menu ul {
        background-color: white;
        display: none;
        
    }
    
    #menu #drop:checked + ul {
        
        display: block;
        
        
    }
    #menu > ul >li {
        
        display: block;
        width: 100%;
        text-align: right;
        
        
    }
    
    #header #glowny_napis h1 {
        
        font-size: 3em;
        
        
        
    }
    
    #header #glowny_napis h2{
        
        position: absolute;
        right: 0;
        left:0;
        margin: auto;
        font-size: 1.5em;
        width: 230px;
        
    }
    
    
    
    section#o_mnie figure {
        
        width: 100%;
        
    }
    
    section#o_mnie figure > img {
        float: none;
        max-height: inherit;
        width: 100%;
    }
    
    #article_o_mnie {
        
        width: 100%;
        float: none;
    }
    
    #contact .contact-data,
    #contact .contact-data h2 {
        
        width: 100%;
        text-align: center;
        
    }
    
    
    
}


@media all and (max-width:768px) {
    
    section {
        padding: 0 40px 50px
    }
    
    
}

@media all and (max-width:576px) {
    
    section {
        padding: 0 10px 30px
    }
    
    #header #glowny_napis h1 {
        
        font-size: 25px;
        
    }
    
    
}