@media all and (max-width: 1200px) {
   /* 
    section#o_mnie figure {
        
        width: 100%;
        height: 100%;
        
    }
    
    
    section#o_mnie figure img{
        
        width: 100%;
        
        
    }
    
    
    section#o_mnie article{
        
        float: none;
        width:100%;
        
    }
    
    */
}

@media all and (max-width: 992px) {
    
    #menu .toggle
    
    {
        
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
        
    }
    
    #menu ul {
        background-color: white;
        display: none;
        
    }
    
    #menu #drop:checked + ul {
        
        display: block;
        
        
    }
    #menu > ul >li {
        
        display: block;
        width: 100%;
        text-align: right;
        
        
    }
    
    
    
    
}


@media all and (max-width:768px) {
    
    section {
        padding: 0 40px 50px
    }
    
    
}

@media all and (max-width:576px) {
    
    section {
        padding: 0 10px 30px
    }
    
}