@media all and (max-width:1170px) {
    
    header {
        
        height: 70vh;
        background-image: url(../img/man-2.jpg);
        
    }
    
    h1 {
        
        top: 20%;
        left:80%; 
        
        
        
    }
    
    
}


@media all and (max-width:992px) {
    
    header{
        background-image: url(../img/man-1.jpg);
        height: 50vh;
        text-align: center;
    }
    
    h1{
        
        color: black;
        left: 0;
        right: 0;
        margin: auto;
        top: 105%;
        

        
    }
    
}
