* {
    
    margin: 0;
    padding: 0;
    
    
}

header {
    
    
    position: relative;
    
    
    height: 100vh;
    
    background-image: url(../img/man-1.jpg);
    
    background-size: cover;
    
    background-position: center;
    
    
    
    
}



h1 {
    display: inline-block;
    position: absolute;
    top: 40%;
    color: white;
    font-variant-caps: small-caps;
    margin-left: 15px;
    font-family: 'Verdana';
    
    
    
    
}


h1 span {
    
    font-size: 60%;
    
    
}

